.navigation {
  display: flex;
  //   margin: 0 0;
  background-color: $color-black;
  color: $color-white;
  &__menu {
    flex-grow: 1;
    background: $color-black;
  }

  &__logo {
    height: 5rem;
    line-height: 5rem;
    margin-left: 4rem;
    background: green;
    font-size: 4rem;
    padding: 0 1rem;
    font-weight: bold;
  }
}
